/* .btn-Loginbutton {
  /* width: 10%;
  height: 50px;
  font-size: large;
  font-weight: bolder;
  border-radius: 3px; 
  width: 30%;
}
.Hr-Button {
  width: 100px;
  border-radius: 3px;
  background-color: rgb(5, 255, 255);
  border: rgb(5, 255, 255);
} */

.HOD-sendreq {
  margin-top: 100px;
  margin-left: 20%;
  height: 1000vh;
  padding: 1%;
  width: 80%;
}
.HR_input {
  width: 280px;
}

.viewreq {
  margin-left: 12.5%;
  height: 1000vh;
  padding: 1%;
  width: 100%;
  background-color: whitesmoke;
}
