.HRCard{
    width: 70%;
   
    margin-left: 25%;
    margin-top: 100px;
    height:fit-content;
    background-color: #343a40;
}
.LoginLabell{ 
    text-align: left;
    /* margin: auto !important; */
    width:100%;
    font-size:1.25vw;
    font-family: Arial, Helvetica, sans-serif  , Georgia, serif;
    font-weight: bold;
    color:wheat
}