.login{
    min-width: fit-content;
}
.LoginImage{
    /* width: 100%;
    height: 100%; */
    max-width: 31.319444444444443vw;
    min-width: 31.319444444444443vw;
}
.LoginLogo{
    /* width: 451px;
    height: 500px */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.l{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.lone{
    background-color: black;
    column-fill: auto;
}
#square {
    width: 100px;
    height: 100px;
    background: red;
  }
.LoginEmailLabel{
   
 text-align: center;
 /* margin: auto !important; */
 width:100%;
 font-size:1.1111111111111112vw;
 font-family: Arial, Helvetica, sans-serif  , Georgia, serif;
 font-weight: bold
}
  
.LoginImageRow{
    margin: auto !important;
    width: fit-content;
    margin-bottom: 3% !important ;

}
.LogintextBoxCol{
    margin:auto !important;
    width: 38.645833333333336vw;
    text-align: center;
}
.LogintextBox{
    width: 38.645833333333336vw;
    height: 2.638888888888889vw;

}
.LoginButtonCol{
    text-align: center;
    padding: 0vw 0vw 0vw 0vw;
}
