/* The sidebar menu */
.sidenav {
  height: 15.625vw; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 55px; /* Stay at the top */
  left: 0;
  background-color: rgba(53, 58, 64); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 0.8%;
}

.red {
  height: 15.625vw;
  width: 20%; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1;
  top: 275px;
  left: 0;
  background-color: rgba(253, 4, 4, 0.911);
  overflow-x: hidden;
  padding-top: 20px;
}
.yellow {
  height: 15.625vw;
  width: 20%; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1;
  top: 515px;
  left: 0;
  background-color: rgb(255, 238, 0, 0.911);
  overflow-x: hidden;
  padding-top: 20px;
}

/*navigation menu links*/
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #c7c4c4;
  display: block;
}

/* hover */
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 100px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
