/* The sidebar menu */

.sidenav {
  width: 20%;
  background-color: #343a40 !important;
  height: 100%;
  position: fixed;
  overflow: scroll;
}
.sidenav a {
  padding: 0.4167vw 0.56vw 0.4167vw 1.1112vw;
  text-decoration: none;
  font-size: 100%;
  color: #c7c4c4;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
