.Hr-Button {
  width: 10%;
  height: 50px;
  font-size: large;
  font-weight: bolder;
}
.Hr-Buttons {
  margin-left: 20%;
  margin-top: 5%;
  padding: 1%;
  width: 80%;
  background-color: aqua;
  border: aqua;
}
.col {
  margin: 10px;
}
.Location_Col {
  padding: 10px;
}
.Location__Button__delete {
  width: 30%;
  margin: 10%;
  border-radius: 3px;
  background-color: rgb(196, 7, 7);
}
.Location__Button__Edit {
  width: 30%;
  margin: 10%;
  border-radius: 3px;
  color: black;
  background-color: green;
}
.Location__plus__card {
  text-align: center;
  font-size: large;
  color: brown;
  height: 100px;
}
